*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100%;
    background-color: #1d3440;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    text-transform: uppercase;
    font-size: 45px;
    margin: 2px 45px;
    padding: 10px;
    
}

.nav-menu ul{
    display: flex;
    padding-right: 130px
}
.nav-menu ul li a{
    text-decoration: none;
    font-size: 18px;
    color:#fff;
    text-transform: uppercase;
    
}
.nav-menu ul li{
    list-style: none;
    padding: 15px 25px;
}

.nav-menu ul li a:hover{
    color: red;
}

.grid-container1{
    margin-left: 56px;
    margin-top: 30px;
}
.logo{
    padding: 25px;
    font-size: 40px;
}
.grid-container{
   display: grid;
   grid-template-columns: 460px 250px;
   grid-auto-rows: 150px;
}
.grid-container2{
    margin-left: 110%;
    width: 270px;
    padding-top: 2rem;
    color: white;
    
    
    
}
.text{
    border-style: solid;
    background: rgb(6, 1, 36);
    
}
.grid-container3{
    padding: 60px;
    margin-top: 120px;

}
.grid-container4{
    justify-content: space-between;
    margin-top: 180px;
    margin-right: 25px;
    
    
}
.more{
    margin-top: 14px;
    margin-left: 10px;
    background-color: #000;
    width: 102px;
    height: 32px;
    padding: 4px;
    
}
.read{
   color: white;
   margin-left: 16px;
   
   
   
}

    a{
        text-decoration: none;
    }
    a:hover{
        color: red;
    }
.row{
    margin-top: 240px;
    display: flex;
    padding: 4rem;
    gap: 3.5rem;
}
.column{
    display: flex;
    gap: 1em;
}
.hyp{
    color: rgb(38, 19, 177);
    font-size: large;
}

.toggle-btn{
    position: absolute;
    top:25px;
    right: 180px;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    height: 22px;
    width: 32px;
}
.toggle-btn .bar{
   height: 4px;
   width: 100%;
   background-color: #fff;
   border-radius: 10px;

}
@media screen and (max-width: 768px){ 
    .toggle-btn{
        display: flex;
    }
    .nav-menu{
        display:none;
        width: 100%;
        
    }
    .nav-menu ul{
        width: 100%;
        background-color: #475f6b;
        flex-direction: column;
        padding-right: 0px;
 }
    .navbar{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-menu ul li{
        padding-left: 30px;
        
    }
    
    .nav-menu ul li a{
        font-size: 17px;
    }
    .nav-menu.active{
        display: flex;
    }
}
